@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center" style="background-color: #074b0c;">
    <img src="~/images/Splashimage.png" alt="Splash Image" class="img-fluid mb-4" style="max-width: 100%; height: auto;">

    <h1 class="display-4" style="font-weight: 700;">Explore Our Games Made in Utah</h1>
    <h2 class="h4" style="font-weight: 400; color: blue;">Showcasing the best of local game developers in Utah</h2>

    <hr class="my-4">

    <p class="h4" style="font-weight: 400; color: blue;">Learn More About the Amazing Games </p>
    <p class="h4" style="font-weight: 400;color: blue;">Created By Local Utah Indie Developers.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Indies")" role="button">Click Here To See Our Current Developers! </a>
</div>
