@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <img src="~/images/Splashimage.png" alt="Splash Image" class="img-fluid mb-4">

    <h1 class="display-4">Explore Our Games Made in Utah</h1>
    <h2 class="h2">Showcasing the best of local game developers in Utah</h2>

    <hr class="my-4">

    <p class="h4">Learn More About the Amazing Games </p>
    <p class="h4">Created By Local Utah Indie Developers.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Indies")" role="button">Click Here To See Our Current Developers! </a>
</div>
