@model List<(string Developer, string Game, string ImageUrl)>

@{
    ViewData["Title"] = "Search Results";
}

<div class="container mt-5">
    <h1>Search Results</h1>

    @if (Model == null || !Model.Any())

    {
        <p>No results found for your search.</p>
    }

    else

    {
        <p>Showing results for your search:</p>

        <div class="row">
            @foreach (var result in Model)

            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="@result.ImageUrl" class="card-img-top" alt="@result.Game">
                        <div class="card-body">
                            <h5 class="card-title">@result.Developer</h5>
                            <p class="card-text">Game: @result.Game</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
